*{
    margin: 0;
    padding: 0;
}
header{
    background-color:  #FFD900;
}
header img{
    margin: 17px 48px;
}
#content{
    max-width: 90%;
    margin: 0 auto;
}
#info{
    text-align: center;
    background-color: #514988;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 50px 35px 50px 35px;
    float: left;
    width: 40%;
    min-height: 400px;
}
#info h1{
    color: #FFD900;
    font-weight: 700;
    padding-bottom:20px ;
    font-size: 40px;
}
#info h3{
    font-weight: 700;
    padding-bottom: 23px;
}
#info p{
    font-size: 18px;
}
#countdown{
    position: relative;
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #514988;

}
#countdown h1{
    font-size: 45px;
    font-weight: 800;
}
h2{
    color:#E33881 ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
}
video{
    max-width: 78%;
    margin: 17px auto;
   
}
#video{
    justify-items: center;
    margin: 0 auto;
    display: flex;
}
#areafinal{
    display: grid;
    grid-auto-flow: column;
    clear: left;
    text-align: center;
    padding: 20px;

}
#areafinal h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFD900;
    margin-bottom: 15px;

}
#ingresso{
    display: grid;
    grid-auto-flow: column;
}
#button button {
    border: none;
    height: 100px;
    width: 400px;
    border-radius: 20px;
    background-color: #514988;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
    font-weight: 700;

}
#button{
    height:200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 800px)  {
    #info{
        width: auto;
        float: none;
    }
    #areafinal{
        display: block;
        margin: 0 auto;
        justify-content: center;
        text-align: center;
        align-items: center;
        justify-items: center;
        
    }
    #ingresso img{
        width: 75px;
    }
    #button button{
        width: 250px;
        height: 60px;
        border-radius: 15px;
        font-size: 20px;
        font-weight: 700;
    }
}
    

